<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 	http://www.springframework.org/schema/beans/spring-beans.xsd
 	http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop.xsd">
    
    <aop:aspectj-autoproxy/>
    
    <bean id="performer" class="Aoc.Performer"></bean>
    <bean id="audience" class="Aoc.Audience"></bean>
    
    <!-- <aop:config>
        <aop:aspect id="security" ref="Aoc.Audience">
            <aop:pointcut id="allPerform" expression="execution(* Aoc.Performer.perform(..))"/>
            <aop:before method="takeSeat" pointcut-ref="allPerform"/>
        </aop:aspect>
    </aop:config>     -->
    
</beans>           
